{:paths ["src" "resources"]
 :deps  {org.babashka/cli           {:mvn/version "0.8.61"}  ;; https://github.com/babashka/cli
         babashka/fs                {:mvn/version "0.5.23"}  ;; https://github.com/babashka/fs
         babashka/process           {:mvn/version "0.5.22"}  ;; https://github.com/babashka/process
         borkdude/edamame           {:mvn/version "1.4.27"}  ;; https://github.com/borkdude/edamame
         dev.weavejester/medley     {:mvn/version "1.8.1"}   ;; https://github.com/weavejester/medley
         selmer/selmer              {:mvn/version "1.12.59"} ;; https://github.com/yogthos/Selmer
         io.github.paintparty/bling {:mvn/version "0.4.2"}   ;; https://github.com/paintparty/bling
         camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"} ;; https://clj-commons.org/camel-snake-kebab/
         }}
